*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #15202B;
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto,
        "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic",
        "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
        "Meiryo UI", "メイリオ", Meiryo,
        "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

button {
    font-size: 14px;
}

NuxtLink {
    text-decoration: none;
    cursor: pointer;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.white {
    color: #fff;
}

.radius5 {
    border-radius: 5px;
}

.error-message {
    color: #e03131;
    text-align: left;
}

/* ---header--- */
.auth-header {
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
}

.auth-header__img-wrap {
    width: 180px;
}

.side-nav__img-wrap {
    width: 120px;
}

.auth-header__img,
.side-nav__img {
    width: 100%;
    height: 100%;
}

.auth-header-nav__list {
    gap: 24px;
}