.error-wrap {
    margin: 128px auto;
    text-align: center;
    padding: 20px;
}

.error-status {
    font-size: 80px;
}

.error-title {
    font-size: 20px;
    line-height: 2em;
}

.error-text {
    margin-top: 28px;
    line-height: 1.4em;
}

.back-home__btn {
    margin-top: 64px;
}