.comment--ttl {
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid #fff;
}

.comment-group {
    width: 100%;
    height: calc(100vh - 380px);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.comment-item {
    flex-direction: column;
    gap: 12px;
    padding: 22px;
    border-bottom: 1px solid #fff;
}

.comment-name {
    font-size: 18px;
}

.comment-text {
    white-space: pre-line;
    font-size: 14px;
}

.comment-form {
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 280px);
    background-color: #15202B;
    z-index: 10;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.comment-form__textarea {
    background-color: #15202B;
    border: 1px solid #fff;
}

.comment-form-btn {
    margin: 0 0 0 auto;
}

@media screen and (max-width: 959px) {

    .comment-form {
        width: calc(100% - 220px);
    }

    .comment-group {
        height: calc(100vh - 400px);
    }
}