.message-wrap {
    flex-direction: column;
    gap: 12px;
    padding: 22px;
    border-bottom: 1px solid #fff;
}

.message-inner {
    align-items: center;
    gap: 12px;
}

.message__user-name {
    word-break: break-word;
    white-space: normal;
}

.message__button-group {
    align-items: center;
    gap: 10px;
}

.message__favorite-img-wrap,
.message__delete-form-button,
.message__detail-button {
    width: 32px;
    height: 32px;
}

.message__favorite-img,
.message__delete-form-img,
.message__detail-button-img {
    width: 100%;
    height: 100%;
}

.message__delete-form-button,
.message__favorite-img-wrap {
    background-color: #15202B;
    border: none;
    padding: 0;
}

.animate-pop {
    animation: pop 0.3s ease;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.message__detail-button {
    margin-left: 60px;
    flex-shrink: 0;
}